<aside class="sidebar">
  <div class="sidebar-content">
    <h3 class="sidebar-title">All Posts</h3>

    {{/* Get featured content */}}
    {{- $featuredPages := where site.RegularPages "Type" "featured" }}
    {{- $featuredPages = $featuredPages.ByWeight.ByDate.Reverse }}

    {{/* Get regular posts */}}
    {{- $regularPages := where site.RegularPages "Type" "posts" }}
    {{- $regularPages = $regularPages.ByWeight.ByDate.Reverse }}

    {{/* Combine all pages */}}
    {{- $allPages := $featuredPages | append $regularPages }}

    <ul class="sidebar-list">
      {{- range $allPages }}
      <li class="sidebar-item">
        <a href="{{ .Permalink }}" class="sidebar-link{{ if eq $.Permalink .Permalink }} active{{ end }}">
          {{ .Title }}
        </a>
        <span class="sidebar-date">{{ .Date.Format "Jan 2" }}</span>
      </li>
      {{- end }}
    </ul>
  </div>
</aside>